body {
  line-height: 1.5;
}

aside {
  max-width:35%;
  float : right;
}

button {
  background-color: #2C974B;
  border-color: #2C974B;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px;
}

form {  
  width: min-content;
  position: relative;
}

.side_top {
  max-width: 35%;
  float: right;
}

.frm-btn {
  width: 100%;
}

h2 {
  border-bottom: solid black;
}

#section {
  max-width: 50%;
  padding: 7%;
  background: antiquewhite;
}

header {
  padding: 10px 0 10px 7%;
  max-width: 50%;
  border-block-start: solid black;
}

footer {
  border: solid 1px; 
  padding: 2px;
  margin-top: 10px;
  background: #40d369;
  box-shadow: 5px 0 0 0 #000000;
  display: block;
  z-index: 9;
  margin-bottom: 10px;
  width: 90vw;
}
