body {
  line-height: 1.5;
}

aside {
  max-width:35vw;
  float : right;
  padding: 0 0 0 9vw
}

button {
  background-color: #2C974B;
  border-color: #2C974B;
  color: #ffffff;
  border-radius: 10px;
  padding: 6px;
}

form {  
  width: min-content;
  position: relative;
  display: grid;
  justify-content: center;
}

.side_top {
  max-width: 35vw;
  float: right;
}

.frm-btn {
  width: 100%;
}

h2 {
  border-bottom: solid black;
}

input {
  border-radius: 6px;
  padding: 6px;
}

.big {
  padding: 6px 50px 6px 50px;
}

#section {
  max-width: 50vw;
  padding: 7vw;
  background: antiquewhite;
}

#link {
  background-color: #2C974B;
}

header {
  padding: 10px 0 10px 7%;
  max-width: 50vw;
  border-block-start: solid black;
}

footer { 
  padding: 2px;
  margin-top: 10px;
  background: #40d369;
  box-shadow: 0px 0px 5px #000000;
  display: block;
  z-index: 9;
  margin-bottom: 10px;
  width: min-content;
}

.showwarning {
  display: inline-block;
  background: #000000;
  visibility: hidden;
}

.warningtext {
  opacity:0;
  font-size: 5px;
  colour: #ffffff;
}

.showwarning:hover .warningtext {
  opacity:1;
  visibility: visible;
}

.pulse{
  overflow:visible;
  position:relative;
}

.pulse::before{content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:inherit;
  border-radius:inherit;
  -webkit-transition:opacity .3s, -webkit-transform .3s;
  transition:opacity .3s,-webkit-transform .3s;
  transition:opacity .3s, transform .3s;
  transition:opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation:pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation:pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index:-1;
}
@-webkit-keyframes pulse-animation{
  0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
  50%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5)}
  100%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5)}
}
@keyframes pulse-animation{
  0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
  50%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5)}
  100%{opacity:0;-webkit-transform:scale(1.5);transform:scale(1.5)}
}
