aside {
  max-width:35%;
  float : right;
}

button {
  background-color: #2C974B;
  color: #ffffff;
  border-radius: 10px;
}

form {  
  width: min-content;
  position: relative;
  border: 3px solid #f1f1f1;
}

.side_top {
  max-width: 35%;
  float: right;
}

.frm-btn {
  width: 100%;
}

h2 {
  border-bottom: solid black;
}

#section {
  max-width: 50%;
  padding: 7%;
  background: antiquewhite;
}

header {
  padding: 10px 0 10px 7%;
  max-width: 50%;
  border-block-start: solid black;
}

footer {
  border: solid 1px; 
  padding: 2px;
  background: #2C974B;
  box-shadow: 5px 0 0 0;
  display: block;
  z-index: 9;
  margin-bottom: 10px;
  width: fit-content;
  width: -moz-fit-content /*firefox*/
}
